@import '0common/stylus'

body
    background: url('stone-art.jpg') no-repeat;
    background-size: cover;
    main
        position: absolute
        bottom 0
        width 100%
        top: 6em
        background: white;
        semi-transparent-border(2em)
        .stitch-box
            stitch-box(24em)