/*  
 * section2.1 background and border  
 */  
semi-transparent-border(border-width)  
    box-sizing:border-box;  
    border: border-width solid hsla(0, 0%, 100%, .5);  
    background-clip: padding-box;  

stitch-box()
    color aliceblue
    background #655
    padding 1.5em
    outline: .2em dashed #fff
    outline-offset: -1.2em
    border-radius: .5em
    font-size 1.4em