@import 'mixins'

header
    background: gold;
    text-align: center;
    font-size: 2em;
    semi-transparent-border(.3em)
nav
    border 1px solid #fff
    display: block
    a
        float right
        margin-left .1em
        background-color:hotpink;
        color:aliceblue;
        padding: .7rem;
        semi-transparent-border(.3em)
        &:nth-child(even)
                background-color mediumseagreen