/*  
 * section2.1 background and border  
 */  
semi-transparent-border(borderWidth_)  
    box-sizing:border-box;  
    border: borderWidth_ solid hsla(0, 0%, 100%, .5);  
    background-clip: padding-box;  

stitch-box(width_)
    width: width_
    color hotpink
    background #655
    padding 1.5em
    outline: .2em dashed #fff
    outline-offset: -1.2em
    border-radius: .5em
    font-size 1.2em
    line-height: 1.1em