// 颜色定义规范  
$color-theme = #ff4444  
$color-primary = #20a0ff//#18c79c  
$color-font = rgba(102, 102, 102, 1)  
$color-semi-transparent = hsla(0, 0%, 100%, .5)
//color ligth array
$color1 = aliceblue
$color2 = #faebd7
$color3 = #00ffff
$color4 = #7FFFD4
$color5 = #F0FFFF
//color dark array
$colord1 = rgba(138, 175, 82, 1)
$colord2 = rgba(145, 215, 227, 1)
$colord3 = rgba(244, 91, 49, 1)
$colord4 = rgba(255, 208, 94, 1)
$colord5 = rgba(5, 82, 136, 1)
$colord6 = rgba(244, 210, 200, 1)
$colord7 = rgba(79, 140, 169, 1)

//字体定义规范  
$font-size-small-s = 10px  
$font-size-small = 12px  
$font-size-medium = 14px  
$font-size-medium-x = 16px  
$font-size-large = 18px  
$font-size-large-x = 22px  